# OS
.DS_Store
Thumbs.db

# IDE
.vscode/chrome-debug-profile/
.idea/
*.iml
.cursor/
.cursorrules
.cursorignore
docs/
.vscode/
scripts/


# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/l10n/generated/
.flutter-plugins
.flutter-plugins-dependencies

# Android / APKs
apk/
*.apk
*.aab
**/android/app/build/
**/android/app/release/
**/android/app/debug/
**/android/key.properties
**/*.keystore
**/*.jks

# iOS / Certificates & Provisioning Profiles
certs/
*.mobileprovision
*.p12
*.p8
*.cer
*.certSigningRequest
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec

# Backend / Go
backend/bin/
backend/.env
**/__pycache__/
backend/venv/
backend/.venv/

# Helm secrets
charts/*/secrets-values.yaml
charts/*/secret-values.yaml

# Backups and Secrets
*.env

# Misc
*.log
*.swp
*.swo
*~
